<div class="container" ng-controller="attributeCtrl">
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus">Add New Attribute</i>
			</button>
		</div>
		<div class="col-md-10 form-inline">
			<label>Name: </label>
			<input type="text" class="form-control input-sm"></input>
			<label>Description: </label>
			<input type="text" class="form-control input-sm"></input>
			<label>DisplayType: </label>
			<select class="input-sm"></select>
			<div style="float:right">
				<button class="btn btn-sm btn-default">Save</button>
				<button class="btn btn-sm btn-default">Cancel</button>
			</div>
		</div>
		<!--  <div class="col-md-12">
			<h2>
				Attributes:				
			</h2>
			<p>
			</p>								
			<td style="width:45%;padding-left:40px;vertical-align: top">
				<div style="padding-bottom:20px">
					<h3 ng-show="edit">Add an Attribute</h3>
					<h3 ng-hide="edit">Update an Attribute</h3>
				</div>						
			</td>
				
			<div class="col-md-6">	
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form" name="attributeForm">
							<div class="form-group">				 
								<label class="col-md-2 control-label">
									Name
								</label>
								<div class="col-md-4">
									<input class="form-control" id="attributeName" type="text" name="name"	ng-model="name" required ng-class="{ errorinput: submitted && attributeForm.name.$invalid }"/>
								</div>
							</div>
							<div class="form-group">				 
								<label class="col-md-2 control-label">
									Description
								</label>
								<div class="col-md-4">
									<input class="form-control" id="attributeDescription" type="text" name="description" ng-model="description"/>
								</div>
							</div>
							<div class="form-group">
								<div style="padding-left:20px">
									<input ng-click="addAttribute()" ng-show="edit" style="width:200px" type="submit" value="Add" class="btn btn-info"/>
									<input ng-click="saveUpdatedAttribute()" ng-hide="edit" style="width:200px" type="submit" value="Save" class="btn btn-info"/>
									<input ng-click="cancelUpdateAttribute()" ng-hide="edit" style="width:200px" type="submit" value="Cancel" class="btn btn-info"/>							
								</div>	
							</div>
							
						</form>
					</div>
				</div>
			</div>

			<p></p>
			<p></p>
			
				
			<table ng-table="tableParams" class="table table-condensed table-striped ng-table-responsive">					
			<tr ng-repeat="attribute in $data">
				<td data-title="'Id'" sortable="'id'" filter="{id:'number'}">{{attribute.id}}
				</td>
				<td data-title="'Name'" sortable="'name'" filter="{name:'text'}">{{attribute.name}}
				</td>
				<td data-title="'Description'" sortable="'description'" filter="{description:'text'}">{{attribute.description}}
				</td>
				<td>
				<input type="button" value="Delete" class="btn btn-primary" ng-click="deleteAttribute(attribute.id)"/>
				<input type="button" value="Update" class="btn btn-primary" ng-click="updateAttribute(attribute.id)"/>
				</td>
			</tr>
			</table>					

		</div>-->
		
		
	</div>

</div>