<html ng-app="tang">
<head>
  <meta charset="UTF-8">
  <title>Editor</title>
</head>
<body>
<div ng-controller="aceCtrl">
  <div class="editor" ui-ace="{ mode: 'javascript', theme: 'monokai' }" ng-model="code">
  function foo(items)</div>
  <div ui-ace></div>
  <textarea ng-model="code"></textarea>
</div>  

<script src='lib/angular/angular.js'></script>
<script src="js/app.js" type="text/javascript" ></script>
<script src="lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="lib/ui-ace/ui-ace.js" type="text/javascript"></script>
<script src="js/testAceCtrl.js"></script>

</body>
</html>
