<!DOCTYPE html>
<html ng-app="tang">
<head>
	<title>test angularJs</title>
	<link href="css/prettify.css" type="text/css" rel="stylesheet" />
</head>
<body onload="prettyPrint()">
	<div ng-controller="testCtrl">
		<p style="display:inline">hello,{{user}}</p>
		<button ng-click="change()">change</button>
		<button ng-click="change2()">change2</button>
		<pre class="prettyprint linenums">{{test}}</pre>
	</div>	
	<script type="text/javascript" src="js/Prettify/prettify.js"></script>
	<script src="lib/angular/angular.js"></script>
  	<script src="js/testCtrl.js"></script>
</body>
</html>