<html ng-app="tang">
  <head>
    <title>Directives</title>
  </head>
  <body>
  <div ng-controller="dirCtrl">
    <button ng-click="show()">show</button>
    <input type="text" ng-model="content"/>
    <drink code="content"/>
  </div>
  </body>
  <script src='lib/angular/angular.js'></script>

  <script src='lib/codemirror/codemirror.js'></script>
  <script src='lib/codemirror/language/python.js'></script>

  <!-- Code Editor Styles -->
  	  <link rel="stylesheet" href="css/codemirror.css">
  <!-- Code Editor Directives -->
  <script type="text/javascript" src="js/app.js"></script>
  <script src="js/testDirectiveCtrl.js"></script>

  <!-- End Code Editor component -->
</html>