<html ng-app="tang">
<head>
	<title>angularJs ace</title>
	<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
</head>
<body>
	<div ng-controller="aceCtrl">
		<div style="height:200px" ui-ace="{
		useWrapMode : true,
		showGutter: false,
		theme:'twilight',
		mode: 'python',
		onLoad: aceLoaded,
		onChange: aceChanged
	}" ng-model="code"></div>
	<textarea ng-model="code"></textarea>
</div>

<script type="text/javascript" src="js/testAce.js"></script>
</body>
</html>